In [38]:
import os
import csv
import pandas as pd
file2 = pd.read_csv('NCHS_-_Leading_Causes_of_Death__United_States.csv')
file2.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0

In [ ]:
# delete initial column for cause name
del file2['113 Cause Name']

In [48]:
# because our data does not have any missing values, we can assign any values that we want to delete as "nan" entries
# then use dropna to get rid of any rows that contain those values 
import numpy as np
clean1 = file2.replace('United States', np.nan).dropna()
clean2 = clean1.replace('All causes', np.nan).dropna()
#clean3 = clean2.replace('All causes', np.nan).dropna()
clean2.head(800)
#clean2.shape
#clean1.shape

clean2.to_csv('cleaned.csv', index=False)