## Data Cleaning

### Step1: Import Dependencies and read file

In [29]:
import os
import csv
import pandas as pd
file2 = pd.read_csv('NCHS_-_Leading_Causes_of_Death__United_States.csv')
file2.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0

In [30]:
file2.shape

(10296, 6)

### Step2: Check that "Deaths" and "age-adjusted rates" are numerical data types

In [41]:
file2.dtypes

Year                         int64
Cause Name                  object
State                       object
Deaths                       int64
Age-adjusted Death Rate    float64
dtype: object

### Step3: Delete Detailed column about Cause of Death

In [31]:
# delete initial column for cause name
del file2['113 Cause Name']
file2.head()

   Year              Cause Name       State  Deaths  Age-adjusted Death Rate
0  2016  Unintentional injuries     Alabama    2755                     55.5
1  2016  Unintentional injuries      Alaska     439                     63.1
2  2016  Unintentional injuries     Arizona    4010                     54.2
3  2016  Unintentional injuries    Arkansas    1604                     51.8
4  2016  Unintentional injuries  California   13213                     32.0

In [32]:
file2.shape

(10296, 5)

### Step4: Seperate aggregate from non-aggregate Data

#### Create dataframe for non-aggregate data (across all 17 years)

In [33]:
# first, create a dataframe without aggregate data. 
# because our data does not have any missing values, we can assign any values that we want to delete as "nan"
# then use dropna to get rid of any rows that contain those values 
import numpy as np
clean1 = file2.replace('United States', np.nan).dropna()
#clean1.shape
clean2 = clean1.replace('All causes', np.nan).dropna() 
# export cleaned data to csv
clean2.to_csv('cleaned.csv', index=False)

In [34]:
clean2.shape

(9180, 5)

In [43]:
### For reference, look at causes of death
clean2.groupby("Cause Name").count()

                         Year  State  Deaths  Age-adjusted Death Rate
Cause Name
Alzheimer's disease       918    918     918                      918
CLRD                      918    918     918                      918
Cancer                    918    918     918                      918
Diabetes                  918    918     918                      918
Heart disease             918    918     918                      918
Influenza and pneumonia   918    918     918                      918
Kidney disease            918    918     918                      918
Stroke                    918    918     918                      918
Suicide                   918    918     918                      918
Unintentional injuries    918    918     918                      918

#### Create dataframe for US aggregate data (across all 17 years)

In [35]:
# create dataframe with US data (without all causes)
US = file2.loc[file2["State"] == "United States", :]
US2 =US.loc[file2["Cause Name"] != "All causes", :]
US2.to_csv('USOnly.csv', index=False)
US2.head()

,Year,Cause Name,State,Deaths,Age-adjusted Death Rate
1779,2016,Alzheimer's disease,United States,116103,30.3
1780,2015,Alzheimer's disease,United States,110561,29.4
1781,2014,Alzheimer's disease,United States,93541,25.4
1782,2013,Alzheimer's disease,United States,84767,23.5
1783,2012,Alzheimer's disease,United States,83637,23.8

In [36]:
US2.shape

(180, 5)

#### Create dataframe for "all causes" appregate data (across all 17 years)

In [37]:
# create dataframe with US data (without all causes)
allCauses = file2.loc[file2["Cause Name"] == "All causes", :]
allCauses2 = allCauses.loc[file2["State"] != "United States", :]
allCauses2.to_csv('AllCausesOnly.csv', index=False)
allCauses2.head()

    Year  Cause Name    State  Deaths  Age-adjusted Death Rate
36  2006  All causes   Alaska    3354                    787.6
52  2016  All causes  Alabama   52466                    920.4
53  2015  All causes  Alabama   51909                    924.5
54  2014  All causes  Alabama   50215                    909.1
55  2013  All causes  Alabama   50189                    925.2

In [38]:
allCauses2.shape

(918, 5)

#### Create dataframe for US "all causes" data (across all 17 years)

In [39]:
allCausesUS = file2.loc[file2["Cause Name"] == "All causes", :]
allCausesUS2 = allCausesUS.loc[file2["State"] == "United States", :]
allCausesUS2.to_csv('AllCausesUSOnly.csv', index=False)
allCausesUS2.head()

     Year  Cause Name          State   Deaths  Age-adjusted Death Rate
843  2016  All causes  United States  2319475                    616.0
844  2015  All causes  United States  2712630                    733.1
845  2014  All causes  United States  2626418                    724.6
846  2013  All causes  United States  2596993                    731.9
847  2012  All causes  United States  2543279                    732.8

In [40]:
allCausesUS2.shape

(18, 5)